@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap');

.App {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App-container {
  background-color: rgb(89, 103, 128);
}