@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');

.App {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-picture {
  max-width: 100%; 
  border-radius: 100%;
}

.contact-form {
  max-width: 300px; 
}

.card-container div {
  flex-basis: 50%; 
}

.main-nav-list {
  list-style-type: none;
  padding-left: 0;
}