@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');

.App {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-picture {
  max-width: 100%; 
  border-radius: 100%;
}

.contact-form {
  max-width: 300px; 
}

.card-container div {
  flex-basis: 50%; 
}

.main-nav-list {
  list-style-type: none;
  padding-left: 0;
}

.main-nav-list li {
  margin-bottom: 1.5rem;
}

.main-nav-list a {
  color: #6400E4; 
  font-weight: 700; 
  font-size: 24px; 
}

input[type=color]{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(201, 206, 214);
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  line-height: 24px;
  height: 2.5rem;
  border-radius: 6px;

}

