@import url('https://fonts.googleapis.com/css?family=Calistoga|PT+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Calistoga', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
